
.inlineWrapper{
    margin-top: -10px;
  }
.inline{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -8px;
}

/* Toggle button related */
.toggle1,
.toggle2,
.toggle3,
.toggle4,
.toggle5 {
  position: relative;
  height: 14px;
  width: 35px;
  border-radius: 15px;
  background: #cfcfcf;
  margin-right: 5px;
}

.toggle1 input,
.toggle2 input,
.toggle3 input,
.toggle4 input,
.toggle5 input {
  opacity: 0;
  width: 100%;
  height: 200%;
  position: absolute;
  top: -7px;
  left: 0;
  z-index: 2;
  margin: 0
}

.toggle__pointer {
  position: absolute;
  top: -2px;
  left: 18px;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: #007979;
  -webkit-transition: left .15s ease-out;
  transition: left .15s ease-out;
}

.toggle1 input:nth-child(2):checked+.toggle__pointer,
.toggle2 input:nth-child(2):checked+.toggle__pointer,
.toggle3 input:nth-child(2):checked+.toggle__pointer,
.toggle4 input:nth-child(2):checked+.toggle__pointer,
.toggle5 input:nth-child(2):checked+.toggle__pointer {
  left: 0px;
  background-color: #777777;
}

.toggle__pointer.color1 {
  background-color: #a8ddb5;
}

.toggle__pointer.color2 {
  background-color: #2b8cbe;
}

.toggle__pointer.color3 {
  background-color: #c51b8a;
}

.toggle__pointer.color4 {
  background-color: #d8b365;
}

.toggle__pointer.color5 {
  background-color: #8073ac;
}

.toggle1 input:nth-child(2):checked,
.toggle2 input:nth-child(2):checked,
.toggle3 input:nth-child(2):checked,
.toggle4 input:nth-child(2):checked,
.toggle5 input:nth-child(2):checked {
  z-index: 1;
}

